# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
local.properties
.gradle
build
.gradle/
.idea/
MyShowcaseLayout.iml
app/app.iml
app/libs/
app/src/main/res/drawable/
build/
